body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height:100%;
  /*
  background: -webkit-linear-gradient(to top, #c4f065, transparent 37%) fixed no-repeat;
  background: -o-linear-gradient(to top, #c4f065, transparent 37%) fixed no-repeat;
  */
  background:
      url(../images/body_background.png) top center no-repeat,
      linear-gradient(to top, #c4f065, transparent 37%) fixed no-repeat;
  /*to be fixed
  background-image: url(images/body_background.png) center top no-repeat;
  */
  font-family: 'PT Sans', sans-serif;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
  font-family: 'Complete in Him';
  src: url('../fonts/Complete-in-Him.ttf') format('truetype');
}

img,
embed,
object,
video {
	max-width: 100%;
	min-width: 0px;
	height: auto;
	object-fit: contain;
}

.container {
  width: 960px;
  margin-right: auto;
	margin-left: auto;
}

header {
  position: relative;
}

#logo {
  float: left;
  padding: 0;
  margin: 10px 0 0 0;
}

#top-right-menu {
  float: right;
  background: linear-gradient(to top, #a1d026, #49a10f 60%) no-repeat;
  padding: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  right: 30px;
}

#top-right-menu .nav-pills>li>a:hover {
    background: transparent;
}

#top-right-menu ul li a {
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 0 0 2px 0;
}

/* media queries for top right menu */
@media only screen and (max-width: 768px) {
  #top-right-menu {
      float: none;
      right: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0 5px 0 5px;
  }
}

@media only screen and (max-width: 768px) {
  #top-right-menu ul li a {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  #top-right-menu ul li a {
    font-size: 1.4em;
  }
}

/* for menu toggle glyphicons to be visible */
#collapsed {
  display: none; /* on desktops and laptops */
  text-align: right;
  position: absolute;
  padding: 0;
  bottom: 10px;
  right: 10px;
}

@media only screen and (max-width: 768px) {
  #collapsed {
    display: inline-block;
  }
}

nav .nav-pills {
  background: linear-gradient(to top, #8a8a8a, #d4d4d4 50%) no-repeat;
  margin: 10px 0 10px 0;
}

nav .nav-pills li a {
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

nav .nav-pills li:not(:last-child) a {
  border-right: 1px solid white;
}

nav .nav-pills>li.active>a,
nav .nav-pills>li.active>a:focus,
nav .nav-pills>li.active>a:hover {
  color: #fff;
  background: linear-gradient(to top, #5ec946, #19a715 50%) no-repeat;
  border: 2px outset #11b500;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(255,255,190,0.75);
  -moz-box-shadow: inset 0px 0px 2px 2px rgba(255,255,190,0.75);
  box-shadow: inset 0px 0px 2px 2px rgba(255,255,190,0.75);
}

nav .nav-pills>li>a:hover {
  background-color: #6ec950;
}

/* media queries for main menu */
@media only screen and (max-width: 768px) {
    nav .nav-pills li a {
        font-size: 2rem;
    }

    nav .nav-pills li:not(:last-child) a {
      border-right: 0;
    }
}

#img-slider {
  color: white;
}

.carousel-inner .item .carousel-caption {
  font-family: 'Complete in Him';
  position: absolute;
  vertical-align: middle;
  margin-right: 0;
  left: auto;
  right: 15%; top: 15%;
  text-align: left;
}

.carousel-inner .item .carousel-caption h1 {
  font-size: 66px;
}

.carousel-inner .item .carousel-caption h3 {
  font-size: 40px;
}

#content {
  /*margin: 10px 0 10px 0;*/
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
}

#hpy-song {
  background: linear-gradient(to top, #c0ee5f, white 30%) fixed no-repeat;
  height: 500px;
}

#heading-hpy-song {
  /*background: white;*/
}

#heading-hpy-song img {
  float: left;
  z-index: 1;

}

#heading-hpy-song h3 {
  margin: 23px 20px 12px 70px;
  text-align: center;
  background: linear-gradient(to top, #5ec946, #19a715 50%) no-repeat;
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 2px outset #36c020;
  border-radius: 1px;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(255,255,190,0.75);
  -moz-box-shadow: inset 0px 0px 2px 2px rgba(255,255,190,0.75);
  box-shadow: inset 0px 0px 2px 2px rgba(255,255,190,0.75);
}

#para-1,
#chorus-1,
#chorus-2 {
  font-size: 10px;
  font-weight: 700;
}

#para-1 {
  text-align: left;
  padding: 10px 10px 0 10px;
}

#para-1 p span,
#chorus-2 .chorus-text p span {
  padding: 0 3px 0 0;
}

.chorus-title {
  text-align: right;
  padding: 0;
}

.chorus-text {
  text-align: left;
  padding: 0 10px 0 5px;;
}

#left-music,
#right-music {
  margin: 60px auto 0 auto;
}

#sing-along {
  margin: 20px auto 0 auto;
}

#left-music img {
  text-align: right;
  display: inline-block;
  padding: 0 0 0 auto;
}

#winamp-sing-along {
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sing-along p {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  color: #7b7b7b;
}

#sing-along p span {
  display: inline-block;
}

/* media queries for HPY song content */
@media only screen and (max-width: 768px) {
  #heading-hpy-song h3 {
    font-size: 1.5em;
    margin: 23px 0 12px 70px;
  }

  #para-1,
  #chorus-1,
  #chorus-2 {
    font-size: 1.1em;
  }

  .chorus-title {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  #heading-hpy-song h3 {
    font-size: 1.8em;
    margin: 23px 0 12px 70px;
  }

  #para-1,
  #chorus-1,
  #chorus-2 {
    font-size: 1.25em;
  }

  .chorus-title {
    text-align: center;
  }

  #sing-along p {
    font-size: 1.8em;
  }
}

#map {
  height: 500px;
  border-left: 10px solid white;
}

/* media queries for map */
@media only screen and (max-width: 768px) {
  #map {
    border-left: 0;
    margin-top: 10px;
  }
}

footer {
  background: linear-gradient(to top, #9d9d9d, #dbdbdb 50%) no-repeat;
  margin: 0;
}

footer p {
  padding: 10px 10px 1px 20px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

/* media queries for footer */
@media only screen and (max-width: 768px) {
  footer p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  footer p {
    font-size: 1.5em;
  }
}
